body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.display-text {
    font-family:'Courier New', Courier, monospace;
}

.input-field {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 375px;
}

.submit-button {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border: none;
    padding: 3px 12px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #484848;
    color: white;
}