.display-text {
    font-family: 'Courier New', Courier, monospace;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.top-info {
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    align-items: flex-end;
}

.chessboard-wrapper {
    width: 600px;
    /* TODO find dynamically (likely with custom hook) */
}

.flip-button {
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
}

.flip-button:hover {
    cursor: pointer;
    border: 1px solid black;
}