
.chessboard {
    display: inline-grid; 
    grid-template-columns: repeat(8,75px);
    grid-template-rows: repeat(8, 75px);
}

.square {
    height: 100%;
    width: 100%;
}

.piece {
    height: 100%;
    width: 100%;
}